@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/Raleway-Regular.ttf");
    font-family: "Raleway";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/Raleway-Italic-VariableFont_wght.ttf");
    font-family: "Raleway";
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/Rajdhani-Regular.ttf");
    font-family: "Rajdhani";
    font-weight: 400;
}